<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advanced</key>
	<array>
		<dict>
			<key>title</key>
			<string>辅音结合</string>
			<key>describe</key>
			<string>指存在两个辅音时，声音发生变化的现象。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>无声化</string>
			<key>describe</key>
			<string>指有声音变成无声音（无喉头震动）的现象。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>省略张开</string>
			<key>describe</key>
			<string>指两虚出现两个闭锁音时，省略张开吐气动作的现象。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>鼻腔开放</string>
			<key>describe</key>
			<string>指省略/t或/d的张开吐气动作，由鼻腔出气的现象。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>侧面开放</string>
			<key>describe</key>
			<string>指省略/t或/d的张开吐气动作，由舌两侧出气的现象。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>同化</string>
			<key>describe</key>
			<string>指连续出现两个发音时，其中一个发言变得像另外一个的现象。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>脱落</string>
			<key>describe</key>
			<string>指较随便的对话中出现的省略发音的现象。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>弱化</string>
			<key>describe</key>
			<string>指功能语（介词/助动词等）发音变得较弱等现象。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>气音</string>
			<key>describe</key>
			<string>指无声闭锁音变成元音前，产生强烈气息声等现象。</string>
		</dict>
	</array>
	<key>basics</key>
	<array>
		<dict>
			<key>voices</key>
			<array>
				<dict>
					<key>similar_slow_read</key>
					<string>951.248,0.513,448.248,0.434&amp;&amp;721.248,0.713,218.248,0.428</string>
					<key>similar_read</key>
					<string>951.248,0.513,448.248,0.434&amp;&amp;721.248,0.713,218.248,0.428</string>
					<key>examples_read</key>
					<string>951.248,0.513,448.248,0.434</string>
					<key>examples_slow_read</key>
					<string>951.248,0.513,448.248,0.434</string>
					<key>similar_yb</key>
					<string>p eɪ,b eɪ</string>
					<key>examples_yb</key>
					<string>p eɪ</string>
					<key>similar_count</key>
					<string>2</string>
					<key>similar</key>
					<string>pay,bay</string>
					<key>examples_count</key>
					<string>1</string>
					<key>examples</key>
					<string>pay</string>
					<key>name</key>
					<string>p</string>
					<key>step_types</key>
					<string>1,2</string>
					<key>step_describes</key>
					<string>闭上嘴，用唇截流气息。&amp;&amp;张开嘴，让气息冒出来。</string>
					<key>step_count</key>
					<string>2</string>
					<key>describe</key>
					<string>在这个音后加上日语的「ア・イ・ウ・エ・オ」后，听起来像日语的「パ・ピ・プ・ペ・ポ」。只是，英语具有比日语的「パ・ピ・プ・ペ・ポ」更强的空气破裂感。心里想着吐西瓜子的动作，用力从闭着的嘴唇间吐出气息的话，就可以把它发得标准。</string>
					<key>pics_side</key>
					<string>p1,p2,p3,p4,p5,p6</string>
					<key>pics_front</key>
					<string>p1,p2,p3,p4,p5,p6</string>
					<key>long_male</key>
					<string>0.142</string>
					<key>etime_male</key>
					<string>3.391</string>
					<key>stime_male</key>
					<string>3.249</string>
					<key>long_female</key>
					<string>0.379</string>
					<key>stime_female</key>
					<string>44.332</string>
					<key>etime_female</key>
					<string>44.711</string>
					<key>img</key>
					<string>symbol_P</string>
				</dict>
				<dict>
					<key>name</key>
					<string>b</string>
					<key>step_types</key>
					<string>1,2,3</string>
					<key>step_describes</key>
					<string>闭上嘴，用唇截流气息。&amp;&amp;张开嘴，让气息冒出来。&amp;&amp;发这个音时要出声，也就是振动喉咙。我们发音时可以手轻触喉头、判断它是否震动。</string>
					<key>step_count</key>
					<string>3</string>
					<key>describe</key>
					<string>在这个音后加上日语的「ア・イ・ウ・エ・オ」，听起来像日语「バ・ビ・ブ・ベ・ボ」。
只是，英语具有比日语「バ・ビ・ブ・ベ・ボ」更强的空气破裂感。</string>
					<key>pics_side</key>
					<string>b1,b2,b3,b4,b5,b6</string>
					<key>pics_front</key>
					<string>b1,b2,b3,b4,b5,b6</string>
					<key>long_male</key>
					<string>0.157</string>
					<key>stime_male</key>
					<string>4.286</string>
					<key>etime_male</key>
					<string>4.444</string>
					<key>long_female</key>
					<string>0.223</string>
					<key>stime_female</key>
					<string>45.245</string>
					<key>etime_female</key>
					<string>45.469</string>
					<key>img</key>
					<string>symbol_B</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.251</string>
					<key>stime_female</key>
					<string>46.269</string>
					<key>etime_female</key>
					<string>46.520</string>
					<key>img</key>
					<string>symbol_T</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.214</string>
					<key>stime_female</key>
					<string>47.252</string>
					<key>etime_female</key>
					<string>47.466</string>
					<key>img</key>
					<string>symbol_D</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.228</string>
					<key>stime_female</key>
					<string>48.243</string>
					<key>etime_female</key>
					<string>48.471</string>
					<key>img</key>
					<string>symbol_K</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.268</string>
					<key>stime_female</key>
					<string>49.248</string>
					<key>etime_female</key>
					<string>49.516</string>
					<key>img</key>
					<string>symbol_G</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.238</string>
					<key>stime_female</key>
					<string>50.248</string>
					<key>etime_female</key>
					<string>50.487</string>
					<key>img</key>
					<string>symbol_CH</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.236</string>
					<key>stime_female</key>
					<string>51.277</string>
					<key>etime_female</key>
					<string>51.514</string>
					<key>img</key>
					<string>symbol_JH</string>
				</dict>
			</array>
			<key>title</key>
			<string>闭锁音</string>
			<key>describe</key>
			<string>指用舌、唇等节流气息后，随后张开闭锁位置而产生等声音。</string>
		</dict>
		<dict>
			<key>voices</key>
			<array>
				<dict>
					<key>long_female</key>
					<string>0.378</string>
					<key>stime_female</key>
					<string>52.248</string>
					<key>etime_female</key>
					<string>52.626</string>
					<key>img</key>
					<string>symbol_F</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.341</string>
					<key>stime_female</key>
					<string>53.264</string>
					<key>etime_female</key>
					<string>53.606</string>
					<key>img</key>
					<string>symbol_V</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.666</string>
					<key>stime_female</key>
					<string>54.266</string>
					<key>etime_female</key>
					<string>54.933</string>
					<key>img</key>
					<string>symbol_TH</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.527</string>
					<key>stime_female</key>
					<string>55.251</string>
					<key>etime_female</key>
					<string>55.779</string>
					<key>img</key>
					<string>symbol_DH</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.507</string>
					<key>stime_female</key>
					<string>56.277</string>
					<key>etime_female</key>
					<string>56.784</string>
					<key>img</key>
					<string>symbol_S</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.505</string>
					<key>stime_female</key>
					<string>57.273</string>
					<key>etime_female</key>
					<string>57.779</string>
					<key>img</key>
					<string>symbol_Z</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.531</string>
					<key>stime_female</key>
					<string>58.249</string>
					<key>etime_female</key>
					<string>58.781</string>
					<key>img</key>
					<string>symbol_SH</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.437</string>
					<key>stime_female</key>
					<string>59.252</string>
					<key>etime_female</key>
					<string>59.689</string>
					<key>img</key>
					<string>symbol_ZH</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.638</string>
					<key>stime_female</key>
					<string>60.250</string>
					<key>etime_female</key>
					<string>60.889</string>
					<key>img</key>
					<string>symbol_HH</string>
				</dict>
			</array>
			<key>title</key>
			<string>摩擦音</string>
			<key>describe</key>
			<string>指在唇、舌等之间留出缝隙，并让气息通过该缝隙，由此产生等声音。</string>
		</dict>
		<dict>
			<key>voices</key>
			<array>
				<dict>
					<key>long_female</key>
					<string>0.428</string>
					<key>stime_female</key>
					<string>61.286</string>
					<key>etime_female</key>
					<string>61.724</string>
					<key>img</key>
					<string>symbol_M</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.463</string>
					<key>stime_female</key>
					<string>62.251</string>
					<key>etime_female</key>
					<string>62.715</string>
					<key>img</key>
					<string>symbol_N</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.450</string>
					<key>stime_female</key>
					<string>63.274</string>
					<key>etime_female</key>
					<string>63.724</string>
					<key>img</key>
					<string>symbol_NG</string>
				</dict>
			</array>
			<key>title</key>
			<string>鼻音</string>
			<key>describe</key>
			<string>指用舌、唇等将气流截流后，用鼻子哼出等声音。</string>
		</dict>
		<dict>
			<key>voices</key>
			<array>
				<dict>
					<key>long_female</key>
					<string>0.627</string>
					<key>stime_female</key>
					<string>64.251</string>
					<key>etime_female</key>
					<string>64.879</string>
					<key>img</key>
					<string>symbol_L</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.627</string>
					<key>stime_female</key>
					<string>64.251</string>
					<key>etime_female</key>
					<string>64.879</string>
					<key>img</key>
					<string>symbol_LH</string>
				</dict>
			</array>
			<key>title</key>
			<string>侧音</string>
			<key>describe</key>
			<string>指用舌顶住等同时，从舌等左右两侧溢出气息而产生等声音。</string>
		</dict>
		<dict>
			<key>voices</key>
			<array>
				<dict>
					<key>long_female</key>
					<string>0.530</string>
					<key>stime_female</key>
					<string>65.257</string>
					<key>etime_female</key>
					<string>65.788</string>
					<key>img</key>
					<string>symbol_R</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.556</string>
					<key>stime_female</key>
					<string>66.266</string>
					<key>etime_female</key>
					<string>66.822</string>
					<key>img</key>
					<string>symbol_Y</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.532</string>
					<key>stime_female</key>
					<string>67.258</string>
					<key>etime_female</key>
					<string>67.790</string>
					<key>img</key>
					<string>symbol_W</string>
				</dict>
			</array>
			<key>title</key>
			<string>半元音</string>
			<key>describe</key>
			<string>指将舌头从某元音等舌位移动到另一舌位时产生到声音。</string>
		</dict>
		<dict>
			<key>voices</key>
			<array>
				<dict>
					<key>long_female</key>
					<string>0.577</string>
					<key>stime_female</key>
					<string>68.285</string>
					<key>etime_female</key>
					<string>68.862</string>
					<key>img</key>
					<string>symbol_AA</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.530</string>
					<key>stime_female</key>
					<string>69.267</string>
					<key>etime_female</key>
					<string>69.797</string>
					<key>img</key>
					<string>symbol_AH</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.240</string>
					<key>stime_female</key>
					<string>70.257</string>
					<key>etime_female</key>
					<string>70.498</string>
					<key>img</key>
					<string>symbol_AH0</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.458</string>
					<key>stime_female</key>
					<string>71.271</string>
					<key>etime_female</key>
					<string>71.729</string>
					<key>img</key>
					<string>symbol_AE</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.440</string>
					<key>stime_female</key>
					<string>72.262</string>
					<key>etime_female</key>
					<string>72.702</string>
					<key>img</key>
					<string>symbol_IH</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.417</string>
					<key>stime_female</key>
					<string>73.250</string>
					<key>etime_female</key>
					<string>73.667</string>
					<key>img</key>
					<string>symbol_UH</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.484</string>
					<key>stime_female</key>
					<string>74.249</string>
					<key>etime_female</key>
					<string>74.734</string>
					<key>img</key>
					<string>symbol_EH</string>
				</dict>
			</array>
			<key>title</key>
			<string>短元音</string>
			<key>describe</key>
			<string>指放松舌头时发出短，相对较短短伴有喉头震动短声音。</string>
		</dict>
		<dict>
			<key>voices</key>
			<array>
				<dict>
					<key>long_female</key>
					<string>0.530</string>
					<key>stime_female</key>
					<string>75.257</string>
					<key>etime_female</key>
					<string>75.788</string>
					<key>img</key>
					<string>symbol_ER</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.563</string>
					<key>stime_female</key>
					<string>76.264</string>
					<key>etime_female</key>
					<string>76.828</string>
					<key>img</key>
					<string>symbol_IY</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.533</string>
					<key>stime_female</key>
					<string>77.254</string>
					<key>etime_female</key>
					<string>77.787</string>
					<key>img</key>
					<string>symbol_UW</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.552</string>
					<key>stime_female</key>
					<string>78.259</string>
					<key>etime_female</key>
					<string>78.811</string>
					<key>img</key>
					<string>symbol_AO</string>
				</dict>
			</array>
			<key>title</key>
			<string>长元音</string>
			<key>describe</key>
			<string>指舌部用力发音，相对较长短、伴有喉头震动短声音。</string>
		</dict>
		<dict>
			<key>voices</key>
			<array>
				<dict>
					<key>long_female</key>
					<string>0.476</string>
					<key>stime_female</key>
					<string>79.270</string>
					<key>etime_female</key>
					<string>79.747</string>
					<key>img</key>
					<string>symbol_AY</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.560</string>
					<key>stime_female</key>
					<string>80.266</string>
					<key>etime_female</key>
					<string>80.827</string>
					<key>img</key>
					<string>symbol_AW</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.550</string>
					<key>stime_female</key>
					<string>81.254</string>
					<key>etime_female</key>
					<string>81.804</string>
					<key>img</key>
					<string>symbol_EY</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.527</string>
					<key>stime_female</key>
					<string>82.248</string>
					<key>etime_female</key>
					<string>82.776</string>
					<key>img</key>
					<string>symbol_OY</string>
				</dict>
				<dict>
					<key>long_female</key>
					<string>0.467</string>
					<key>stime_female</key>
					<string>83.247</string>
					<key>etime_female</key>
					<string>83.714</string>
					<key>img</key>
					<string>symbol_OW</string>
				</dict>
			</array>
			<key>title</key>
			<string>双元音</string>
			<key>describe</key>
			<string>指两音组合而成为一个声音的元音。</string>
		</dict>
	</array>
</dict>
</plist>
